*
!product_images/
!product_images/thumbnails/
!admin_images/
!brand_images/
!seller_images/
!buyer_images/
!banners/
!category_images/
!customer_images/
!delivery_man_images/ 
!seller_images/
!category_images/
!collection_images/
!store_profile_images/
!store_banner_images/
!recommended_product_images/
!theme_textures/
!.gitignore
