* 
!adidas.jpg          
!apex.jpg            
!apple.jpg           
!bata.jpg            
!bmw-logo.jpg        
!brand.jpg           
!chevrolet.jpg       
!coco-cola.jpg       
!disney.jpg          
!fastrack.jpg        
!gucci.jpg           
!lakme.jpg           
!lamborghini.jpg     
!loreal.jpg          
!lotto.jpg           
!mcdonalds.jpg       
!mercedes-benz.jpg   
!microsoft.jpg       
!nike.jpg            
!olay.jpg            
!one-plus.webp       
!pepsi.jpg           
!puma.jpg            
!rolex.jpg           
!samsung.jpg         
!ups.jpg             
!.gitignore